@model IEnumerable<DrawHub.Models.Categoria>

@{
    ViewData["Title"] = "Categorias";
}

<h1>Categorias</h1>
<a asp-controller="Categoria" asp-action="Criar" class="btn btn-primary">Criar Categoria</a>

@if (Model != null && Model.Any())
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Data de Criação</th>
                <th>Quantidade de Desenhos</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var categoria in Model)
            {
                <tr>
                    <td>@categoria.Nome</td>
                    <td>@categoria.DataCriacao?.ToString("dd/MM/yyyy")</td>
                    <td>@categoria.Desenhos?.Count</td>
                    <td>
                        <a asp-action="Editar" asp-controller="Categoria" asp-route-id="@categoria.Id" class="btn btn-primary">Editar</a>
                        <a asp-action="ConfirmarExclusao" asp-controller="Categoria" asp-route-id="@categoria.Id" class="btn btn-danger">Excluir</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="col-md-5 mb-5"><p>Não há categorias registradas ainda.</p></div>
}
